@font-face {
    font-family: AdobeInvis;
    src: url("../fonts/AdobeInvisFont.otf");
}
a{
    text-decoration: none;
}
a:visited{
    color: #FFF;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background: url("../img/background.png") no-repeat center;
    background-color: rgba(0,0,0, .7);
    background-blend-mode: darken;
}
.logo {
    margin-top: 49px;
    margin-left: 155px;
    float: left;
}
.logo:hover .logo-white{
    content: url("../img/main-logo-orange.png");
}
.logo:hover .cp-name{
    color: #F26522;
}
.cp-name {
    display: inline-block;
    padding-left: 15px;
    color: #FFF;
    text-transform: uppercase;
    font-family: AdobeInvis;
}
.part1{
font-size: 29px;
}
.part2{
    font-size: 18px;
}
.contacts{
    margin-right: 147px;
    float: right;
    color: #FFF;
    margin-top: 57px;
    font-family: AdobeInvis;
}
.telephone{
    text-align: right;
    padding-top: 5px;
}
.gallery1{
    margin-top: 48px;
    margin-left: 150px;
}
.gallery2 {
    margin-top: 58px;
    margin-left: 150px;
}
.gallery1 li{
    float: left;
    color: #FFF;
}
.gallery2 li{
    float: left;
    color: #FFF;
}
.card2{
    padding-left: 68px;
}
.card3{
    padding-left: 69px;
}
.card5{
    padding-left: 69px;
}
.card6{
    padding-left: 69px;
}
.animation{
    position: absolute;
    background-color: #F26522;
    width: 307px;
    height: 63px;
    top: 57%;
    display: none;
    animation-name: animation;
    animation-duration: 3s;
    padding-bottom: 0;
}
.first-option{
    padding-top: 16px;
    padding-left: 21px;
}
.second-option {
    padding-top: 7px;
    padding-left: 21px;
}
.third-option{
    text-align: right;
    padding-left: 126px;
}
.third-option:after{
    content: '\203A';
    margin-left: 10px;
}
.pricing1{
    display: inline-block;
}
.comments{
    padding-top: 22px;
    text-align: center;
    font-family: AdobeInvis;
    font-size: 18px;
}
.img-container{
    height: 200px;
    border: 2px solid;
    overflow:hidden;
    border-image: linear-gradient(to bottom, #E8E8E8, #6B6B6B, #010101) 1;
}
.card1, .card2, .card3, .card4, .card5, .card6{
    position: relative;
}
.card1:hover .animation{
    display: block;
}
.card2:hover .animation{
    display: block;
    width: 308px;
}
.card3:hover .animation{
    display: block;
}
.card4:hover .animation{
    display: block;
}
.card5:hover .animation{
    display: block;
    width: 308px;
}
.card6:hover .animation{
    display: block;
}
.footer-part{
    text-align: center;
    margin-top: 61px;
    color: #FFF;
    font-family: AdobeInvis;
    font-size: 12px;
}
@keyframes animation {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }

